In [1]:
from segment_sales_crawling.quarterly_financial_data import QuarterlyFinancialData
import pandas as pd

target_ticker_df = pd.read_excel("/Users/jaahyun/valuation_agent/report_agent/data/target_quarterly_financial_data.xlsx",dtype={'종목코드': str})

In [2]:
target_ticker_df

      종목코드       종목명
0   373220  LG에너지솔루션
1   017670     SK텔레콤
2   251270       넷마블
3   003490      대한항공
4   034020   두산에너빌리티
5   005930      삼성전자
6   035720       카카오
7   003670    포스코퓨처엠
8   000880        한화
9   000370    한화손해보험
10  005380       현대차
11  000660    SK하이닉스
12  035420     NAVER

In [3]:
target_tickers = target_ticker_df['종목코드'].tolist()

In [4]:
for ticker in target_tickers:
    qfd = QuarterlyFinancialData(ticker=ticker, api_key='4925a6e6e69d8f9138f4d9814f56f371b2b2079a')
    df = qfd.make_quarterly_financial_data_df()
    df.to_excel(f"/Users/jaahyun/valuation_agent/report_agent/data/quarterly_financial_data/{ticker}_quarterly_financial_data.xlsx", index=False)